# Python-related
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dylib
*.egg
*.egg-info/
dist/
build/
eggs/
*.egg-info/
*.log
*.bak
*.swp
*.swo

# Environment directories
venv/
env/
env.bak/
venv.bak/

# PyInstaller
#  Uncomment if you're using pyinstaller
#  /dist
#  /build
#  *.spec

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# macOS-specific
.DS_Store

# Windows-specific
Thumbs.db

# Local environment files
.env

# Sphinx documentation
docs/_build/

# pytest
.cache/
nosetests.xml
coverage.xml
*.cover
*.hypothesis/

# mypy
.mypy_cache/

# Pylint
pylint_report.txt
